doctype html
html
    head
        title Student Management System
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/w3.css')
        style.
            body {
                margin: 0;
                font-family: Arial sans-serif;
                background-color: #f4f4f4;
            }
                
            .main-content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 64px 0;
                padding: 0 32px;
            }
                
            .left-column {
                width: 100%;
                margin-bottom: 32px;
            }
                
            .right-column {
                width: calc(50% - 16px);
            }
                
            h2 {
                font-size: 24px;
                font-weight: bold;
                margin-top: 0;
            }
                    
            ul {
                list-style: none;
                padding-left: 0;
                margin-top: 0;
            }
                    
            li {
                margin: 12px 0;
            }
                
            li span {
                display: inline-block;
                width: calc(100% - 32px);
            }

            li form {
                display: inline-block;
            }
            
            li button {
                background-color: white;
                border: none;
                color: black;
                padding: 8px 16px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin-left: 16px;
                margin-top: 8px;
                cursor: pointer;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            }
        
            li button:hover {
                background-color: #FF5733 !important;
                color: #fff !important;
                text-align: center;
            }
    
            .w3-teal {
                background-color: #FF5733 !important;
                color: #fff !important;
                text-align: center;
            }

            .w3-half {
                width: 50%;
                float: left;
            }

            .done {
                background-color: #fff;
            }
                
            .formcontainer {
               width: 50%; /* or a specific pixel value */
                margin: 0 auto;
                text-align: center;
            }
    body
        block content